/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@font-face {
    font-family: "bespoke";
    src: url("Bespoke-Y0z1Shu19U.woff") format('woff');
}

*,
*:after,
*:before {
  box-sizing: border-box;
    margin:0;
}

html {
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "bespoke", sans-serif;
}

h1{
    padding-top: 8px;
    color: #ffffff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.deroule{
  visibility:hidden;
  overflow:auto;
}
ul div:target {
visibility:visible;
width:500px;height:300px;
transition:all 0.5s ease-in;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.boxx {
    height:100vh;
    background-color: white;
    border: 3px solid black;
    overflow: auto;
    z-index: 100;
    
}

.boxie {

    background-color: blue;
    border:1px dotted white;
    overflow: hidden;
    padding: 0;
    box-sizing: inherit;
    height:100%;
   
}


.bouton {
        height: 75px;
        width: 75px;
        top: 10px;
        left: 10px;
        position: fixed;
        z-index: 999;
        color: orangered;
        font-size: 4.2em;
        text-align: center;
    }

.close {
    display:none;
}

.texto {
    padding: 10px;
}



.about {
    line-height:1.5;
    font-family: sans-serif;
    color: black;
    font-size: 1.6em;
    font-weight: 300;
}

.texto:hover {
    text-decoration: none;
}



::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background-color: #ea242c;
}

/*==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


@media screen and (max-width: 680px) {
   
  
       #flec {
        display:inline;
    }
    h1{
        text-align:right;
        padding-top: 30px;
}
    .toggle-click{
        display:inline;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
