
.toggle-click {
    position: fixed;
    font-size: 2em;
    top: 4px;
    left: 15px;
    padding: 0px 20px;
    margin: 8px 8px 8px 0;
    height: 20px;
    width: 35px;
    z-index: 1000;
    color: #ea242c;
}

.overlay {
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
}
.nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
/*    max-height: 340px;*/
}
.overlay ul {
    display: block;
    position: relative;
    top: 60px;
    left: 0;
    font-size: 1em;
    font-weight: 400;
    list-style: none;
    padding: 0;
    letter-spacing: 0em;
}
.overlay ul li {
    display: block;
}
.overlay ul li a {
    color: black;
    text-decoration: none;
    padding-left: 40px;
    font-weight: 300;
}

.overlay ul li a:hover{
    color: white;
    text-decoration: none;
}

ul li a:hover{
    color: #ea242c;
    text-decoration: none;
}

.toggle-click:hover{
    text-decoration: none;
    color: #000000;
}



@media screen and (max-width:750px){
.overlay ul {
    font-size: 1.5em;
    text-align: left;
    }

.column column-25{
    display:inline;
    position: absolute;
    float: none;
    margin:0; 
    }
}




/* image pop-up on hover */
#winteregg img {
    display:none;
    text-decoration: none;
    width: 800px;
}

#winteregg:hover  img{ 
    display:block;
    position: absolute;
    left: 400px;
    width: 800px;
    text-decoration: none;
    z-index:99;
    
}
